<div class="jumbotron text-center">
  <h1 class="display-4"><%= @customer.name %></h1>
  <p class="lead">------------------自己紹介--------------------</p>
  <hr class="my-4">
  <p>
    <span>レベル <%= @customer.level %></span>
    <span class="ml-3">EXP <%= @customer.experience_point %></span>
  </p>
  <p>
    <span>投稿 <%= @ramens.count %>件</span>
  <span class="ml-3">フォロー中
    <%= link_to customer_followings_path(@customer.id) do %>
      <span id="followings_<%= @customer.id %>"><%= @customer.followings.where(is_deleted: false).count %></span>
    <% end %>人
  </span>
  <span class="ml-3">フォロワー
    <%= link_to customer_followers_path(@customer.id) do %>
      <span id="followers_<%= @customer.id %>"><%= @customer.followers.where(is_deleted: false).count %></span>
    <% end %>人
  </span>
  </p>
  <p>
    <span id="follow_buttons_<%= @customer.id %>">
      <%= render "public/relationships/follow", customer: @customer %>
    </span>
    <% if @customer == current_customer %>
      <span class="ml-3">
        <%= link_to '編集', edit_customer_path(@customer), class: "btn btn-outline-light rounded-pill ml-2" %>
      </span>
    <% end %>
  </p>
</div>

<!--タブ切り替えボタン-->
<div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-light">
    <div class="col text-center graphs-link">
      <%= link_to "グラフ", remote: true %>
    </div>
  </button>
  <button type="button" class="btn btn-light">
    <div class="col text-center ramens-link">
      <%= link_to "投稿", remote: true %>
    </div>
  </button>
  <button type="button" class="btn btn-light">
    <div class="col text-center favorites-link">
      <%= link_to "いいね", remote: true %>
    </div>
  </button>
</div>

<!--グラフ-->
<div class="container mt-3 graphs" style="display: none;">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-10">
      <canvas id="myChart"></canvas>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-sm-5">
      <p class="text-center">麺類</p>
      <canvas id="myChart2"></canvas>
    </div>
    <div class="col-sm-5">
      <p class="text-center">スープ類</p>
      <canvas id="myChart3"></canvas>
    </div>
  </div>
</div>

<!--投稿一覧-->
<div class="ramens" style="display: none;">
  <div class="container mt-3">
    <h2>投稿一覧</h2>
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-sm-10">
        <%= render "public/ramens/ramens", ramens: @ramens_new_order %>
      </div>
    </div>
  </div>
</div>

<!--いいね一覧-->
<div class="favorites" style="display: none;">
  <div class="container mt-3">
    <h2>いいね <%= @ramens_favorite.count %>件</h2>
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-sm-10">
        <%= render "public/ramens/ramens", ramens: @ramens_favorite %>
      </div>
    </div>
  </div>
</div>





<script>
  //月別投稿数推移グラフ
  var ctx = document.getElementById("myChart").getContext('2d');
  var labels = <%= @chartlabels %>
  console.log(labels)
  labels.forEach((element,index)=>{
     labels[index] = element.slice(0,-3)
  })

  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: labels ,// 横軸にとるデータ(投稿月)
          datasets: [
            {
              label: "月別投稿数",
              data: [<%= @chartdatas %>], // 縦軸にとるデータ(投稿数)
              backgroundColor: 'rgba(255, 80, 120, 1.0)',
              borderColor: 'rgba(255, 80, 120, 1.0)',
              fill: false
          },
          ]

      },

  });

  //麺類グラフ
  var ctx = document.getElementById("myChart2");
  var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ["ラーメン", "つけ麺", "汁なし", "その他"],
          datasets: [{
              label: "麺類",
              data: [<%= @ramens.where(men_genre: "ramen").count %>, <%= @ramens.where(men_genre: "tsukemen").count %>, <%= @ramens.where(men_genre: "shirunashi").count %>, <%= @ramens.where(men_genre: "others").count %>],
              backgroundColor: [
                'rgba(122, 255, 129, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
              ],
              borderColor: 'rgba(122,255,129,0.2)'
          },]
      },
  });

  //スープ類グラフ
  var ctx = document.getElementById("myChart3");
  var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ["醤油", "塩", "味噌", "豚骨", "豚骨醤油", "豚骨塩", "豚骨味噌", "魚介", "カレー", "その他"],
          datasets: [{
              data: [<%= @ramens.where(soup_genre: "shoyu").count %>, <%= @ramens.where(soup_genre: "shio").count %>, <%= @ramens.where(soup_genre: "miso").count %>, <%= @ramens.where(soup_genre: "tonkotsu").count %>, <%= @ramens.where(soup_genre: "tonkotsushoyu").count %>, <%= @ramens.where(soup_genre: "tonkotsushio").count %>, <%= @ramens.where(soup_genre: "tonkotsumiso").count %>, <%= @ramens.where(soup_genre: "seafood").count %>, <%= @ramens.where(soup_genre: "curry").count %>, <%= @ramens.where(soup_genre: "others").count %>],
              label: "スープ類",
              backgroundColor: [
                'rgba(122, 255, 129, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
              ],
              borderColor: 'rgba(122,255,129,0.2)'
          },]
      },
  });
</script>




