<div class="jumbotron py-4 p-md-5 text-dark rounded bg-white">
  <div class="row featurette">
    <div class="col-md-6 px-0 text-right">
      <h1 class="display-1 font-italic">ラヲタ荘</h1>
      <p class="lead my-3">ラーメンであなたの生活を豊かにする</p>
      <%= link_to "今すぐ始める", new_customer_registration_path, class: "btn btn-outline-primary rounded-pill ml-2" %>
      <p class="mt-4">
        食べたラーメンを投稿するだけで<br>
        あなたのヲタ活を可視化できる<br>
        SNS型ラーメン記録サービス
      </p>
      <p class="lead mb-0">ゲストログインは<%= link_to 'こちら', customers_guest_sign_in_path, method: :post %></p>
    </div>
    <div class="col-md-6 pl-5">
      <%= image_tag 'ramen_syouyu.png', width: '60%', height: '100%' %>
    </div>
  </div>
</div>

<div class="album py-5" style="background-color: #FFFACD;">
  <div class="container">
    <h2 class="text-center mb-2">最近投稿されたラーメン</h2>
    <div class="row">
      <% @ramens.each do |ramen| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= image_tag ramen.image, size:"250x250", class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title"><%= ramen.restaurant_name %></h5>
            <p class="card-text">
              [ <%= ramen.men_genre_i18n %> / <%= ramen.soup_genre_i18n %> ]
              <p><%= ramen.impression.truncate(50) %></p>
            </p>
            <p class="card-text"><small class="text-muted"><%= ramen.created_at.strftime("%Y年 %m月 %d日") %></small></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="jumbotron py-4 p-md-5 text-dark rounded" style="background-color: #FFFFF0;">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading text-right">あなたはラーメンを投稿するだけ</h2>
      <p class="lead text-right">
        食べたラーメンの画像と情報を投稿するだけです。<br>
        ラヲタ荘があなたの投稿を自動で分析します。
      </p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'food_ramen_woman.png', width: '50%', height: '80%' %>
    </div>
  </div>

  <div class="row featurette mt-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">ラー活を記録しグラフ化</h2>
      <p class="lead">
        投稿によって今まで食べたラーメンの情報がグラフで描画されます。<br>
        あなたのラー活記録がひと目でわかります。
      </p>
    </div>
    <div class="col-md-5 order-md-1 text-right">
      <%= image_tag 'whiteboard_memo_man2.png', width: '50%', height: '90%' %>
    </div>
  </div>

  <div class="row featurette mt-5">
    <div class="col-md-7">
      <h2 class="featurette-heading text-right">競争でさらに楽しく</h2>
      <p class="lead text-right">
        投稿数に応じてレベルやランキングが表示されます。<br>
        友人と競い合ってさらに楽しいラー活ライフを！
      </p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'champion_board.png', width: '50%', height: '80%' %>
    </div>
  </div>
</div>