編集ページ

<%= form_with(model: @customer, url:admin_customer_path, local: true, method: :patch) do |f| %>
  <table class="table-box">
  <tr>
    <th>名前</th>
    <td><%= f.text_field :name, class: "ml-2" %></td>
  </tr>
  <tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= f.text_field :email, class: "ml-2" %></td>
  </tr>
  <tr>
    <th>会員ステータス</th>
    <td>
      <%= f.radio_button :is_deleted, :true, class: "ml-2" %>
        <%= f.label :is_deleted, "退会" %>
        <%= f.radio_button :is_deleted, :false, class: "ml-2" %>
        <%= f.label :is_deleted, "有効" %>
    </td>
  </tr>
  </table>

  <p>
    <%= f.submit "編集内容を保存", class: "btn btn-success col-sm-3", style: "margin: 20px;" %>
  </p>
<% end %>
