詳細ページ

<table class="table table-bordered">
  <tr>
    <th>会員ID</th>
    <td><%= @customer.id %></td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @customer.name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @customer.email %></td>
  </tr>
  <tr>
    <th>レベル</th>
    <td><%= @customer.level %></td>
  </tr>
  <tr>
    <th>経験値</th>
    <td><%= @customer.experience_point %></td>
  </tr>
  <tr>
    <th>会員ステータス</th>
    <td>
      <% if @customer.is_deleted == true %>
        <span class="text-danger">退会</span>
      <% else %>
      <span class="text-success">有効</span>
      <% end %>
    </td>
  </tr>
</table>