<% ramens.each do |ramen| %>
<div class="media border rounded-lg mb-2 bg-white">
  <div class="p-3">
    <%= image_tag ramen.image, size:"250x200" %>
  </div>
  <div class="media-body p-3">
    <h4 class="mt-0"><%= ramen.restaurant_name %></h4>
    <p>
      [ <%= ramen.men_genre_i18n %> / <%= ramen.soup_genre_i18n %> ]
      <%= link_to customer_path(ramen.customer) do %>
        <%= ramen.customer.name %>
      <% end %>
    </p>
    <p>
      <%= ramen.impression %>
    </p>
      <%= ramen.created_at.strftime("%Y年 %m月 %d日") %>
      <span class="ml-3", id="favorite_buttons_<%= ramen.id %>">
        <%= render "public/favorites/favorite", ramen: ramen %>
      </span>
      <% if ramen.customer == current_customer %>
        <span>
          <%= link_to '削除', ramen_path(ramen), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger"%>
        </span>
      <% end %>
  </div>
</div>
<% end %>