<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>ユーザーネーム</th>
      <th>画像</th>
      <th>ショップ名</th>
      <th>麺類</th>
      <th>スープ</th>
      <th>感想</th>
      <th>いいね</th>
    </tr>
  </thead>
  <tbody>
    <% @ramens.each do |ramen| %>
      <tr>
        <td><%= ramen.customer.name %></td>
        <td><%= image_tag ramen.image, size:"200x200" %></td>
        <td><%= ramen.restaurant_name %></td>
        <td><%= ramen.men_genre_i18n %></td>
        <td><%= ramen.soup_genre_i18n %></td>
        <td><%= ramen.impression %></td>
        <td id="favorite_buttons_<%= ramen.id %>">
          <%= render "public/favorites/favorite", ramen: ramen %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>