<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>ユーザーネーム</th>
      <th>画像</th>
      <th>ショップ名</th>
      <th>麺類</th>
      <th>スープ</th>
      <th>感想</th>
    </tr>
  </thead>
  <tbody>
    <% ramens.each do |ramen| %>
      <tr>
        <td>
          <%= link_to admin_customer_path(ramen.customer) do %>
            <%= ramen.customer.name %>
          <% end %>
        </td>
        <td><%= image_tag ramen.image, size:"200x200" %></td>
        <td><%= ramen.restaurant_name %></td>
        <td><%= ramen.men_genre_i18n %></td>
        <td><%= ramen.soup_genre_i18n %></td>
        <td><%= ramen.impression %></td>
        <td><%= link_to 'Destroy', admin_ramen_path(ramen), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
